
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-bahnschrift: "Bahnschrift SemiCondensed", "Bahnschrift", sans-serif;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
  width: max-content;
}
.animate-marquee:hover {
  animation-play-state: paused;
}
