:root {
    --primary-color : #0054A6;
    --secondary-color : #FFD700;
    --background-color : #0A0A0A;
    --card-color : #121212;
    --button-color : #1A1A1A;
    --hover-color : #181818;
    --input-color : #2a2a2a;
}
